@model MovieVM
@{
    ViewBag.Title = "UpdateMovie";
}


@using (Html.BeginForm())
{
    @Html.HiddenFor(x=>x.MovieInstance.ID)

    @Html.TextBoxFor(x => x.MovieInstance.Title)
    <br />
    @Html.TextBoxFor(x => x.MovieInstance.Summary)

    <br />

    <br />
    @Html.DropDownListFor(x => x.MovieInstance.DirectorID, new SelectList(Model.Directors, "ID", "FullName"))

    <button>Güncelle</button>
}


